
<article class="container">
  <div class="row"> 
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-user" aria-hidden="true"></span><h2>EXPERIENCED SALES STAFF</h2>
       <p>We have built our reputation on experienced and   knowledgeable sales staff, ready to help you make the ideal bike purchase for your cycling needs!</p>
    </div>
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-edit" aria-hidden="true"></span><h2>EXPERT BIKE FITTING</h2>
        <p>Expert bike fitting services using a combination of  Trek's Fit program, Specialized's BG fit program and Juteau Cantin's fit program and custom equipment.</p>
    </div>
  </div>
  <div class="row">  
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-off" aria-hidden="true"></span><h2>FULL SERVICE REPAIRS</h2>
        <p>Our full service repair shops are some of the best in the  city, providing confidence inspiring repairs on bikes of all   disciplines for over 10 years.</p>
    </div>
    <div class = "col-md-6 col-sm-6 col-xs-12 about">
      <span class="glyphicon glyphicon-hand-right" aria-hidden="true"></span><h2>FOCUS ON COMMUNITY</h2>
       <p>Our shop has been a family-oriented business since day  one, and a part of that mentality is being an active and positive part of our local community.</p>
    </div>
  </div> 
  <div class="row">
    <div class = "col-md-12 col-sm-12 col-xs-12 about">
      <span class="glyphicon glyphicon-repeat" aria-hidden="true"></span><h2>OUR MISSION</h2>
       <p>Cycle Solutions is all about passion! We love to ride our bikes as much as our customers do and we hope it shows when you stop by. We’re in the business of not just selling you your favourite bike, but empowering and inspiring you to use it as often as you can.</p><br>
       <p>Not only are we passionate about our cycling, we also strive to go above and beyond the service you would expect from a local, family-owned business. Through a wide array of events and community outreach we hope to stoke your passion for cycling!</p>
    </div>
  </div>
</article>