<div class="banner container-fluid">
  <h2>Latest Products</h2>
</div>
<article class="container-fluid category">
  <div class="new-bike col-md-4 col-sm-4 col-xs-12" >
    <h4>New Bikes</h4>
    <a href=""><%= image_tag("bicycle-01.jpg", class: "img-responsive") %></a>
  </div>
  <div class="used-bike col-md-4 col-sm-4 col-xs-12" >
    <h4>Used Bikes</h4>
    <a href=""><%= image_tag("bicycle-02.jpg", class: "img-responsive") %></a>
  </div>
  <div class="used-bike col-md-4 col-sm-4 col-xs-12" >
    <h4>Modified Bikes</h4>
    <a href=""><%= image_tag("zps.jpg", class: "img-responsive") %></a>
  </div>
</article>

<article class="container product">
  <p>Bike Shop is all about passion! We love to ride our bikes as much as our customers do and we hope it shows when you stop by. We’re in the business of not just selling you your favourite bike, but empowering and inspiring you to use it as often as you can.</p>
  <p>Not only are we passionate about our cycling, we also strive to go above and beyond the service you would expect from a local, family-owned business. Through a wide array of events and community outreach we hope to stoke your passion for cycling!</p>
</article>
