<article class="container">
<h2>Featured Product:</h2>
<%= @featured_product.name %>
<hr>
<div>Bike Shop location was opened in 2017 by Kate Rowels, a consistent and well-loved customer at the Toronto location. Sharing the same dedication to a quality service center and an enjoyable sales experience, the Bike Shop location quickly became a successful shop in it’s own right.</div><br>
<%= image_tag("bicycle-03.jpg", class: "img-responsive") %>
<div>Our focus on informative and approachable customer service is simple but has proven to be a recipe for success and continued growth. We are always excited to help you find the perfect machine for your passion, and our mechanics are there to help you care for it as you enjoy it over the years.</div><br>
<div>With strong ties to the community, a wide variety of bikes for all riders, and the top-notch service expected from our Bike Shop location has enthusiastically supported cyclists in the Toronto area for over 1 year!</div><br>

</article>