<article class="container">
<h2>Featured Product:</h2>
<%= @featured_product.name %>
<hr>
<div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex provident eligendi repellat repudiandae, nesciunt libero iusto, sapiente modi adipisci quisquam, ipsa aut culpa voluptatibus. Consequuntur, facilis? Error repellat nam accusamus!</div><br>
<div>Error, ut esse necessitatibus nobis tempora aut vero ducimus repellat suscipit sapiente non veniam asperiores facilis, sequi quam obcaecati dolorum at, atque enim. Qui provident sint quos nam, placeat deserunt.</div><br>
<div>Aliquid cumque, cum nobis, deserunt ab nemo itaque ullam est officia dolorum atque ut, soluta iste earum ipsa maxime blanditiis velit modi eaque! Eum, incidunt perferendis commodi sit, cumque explicabo.</div><br>
<div>Quam atque minima esse odio quasi eum deserunt consectetur assumenda soluta ut nam incidunt dicta eveniet officia, cum alias natus, neque praesentium quas libero maiores nulla. Nulla nobis rerum, amet?</div><br>
</article>