<article class="container thank_you">
  <div class="panel panel-default">
    <div class="panel-body">
      <h2>Thank you.</h2>  
      <p>We have received your message and will respond as soon as possible.</p>
    </div><!-- / panel-body -->
  </div><!-- / panel -->
</article>