<article class="container">
<h2>Editing User</h2>

<%= render 'form', user: @user %>

<%= link_to 'Show', @user , class: "btn btn-default"%>
<%= link_to 'Back', users_path , class: "btn btn-default"%>
</article>