// Place all the styles related to the products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.prod h3 {
  font-size: 1.7em;
  color: #840000;
  text-align: center;
}
.btn-default {
  margin: 0;
  font-size: 0.7em;
}
.show img {
  width: 70%;
}
.field input,
.field textarea,
.new_product input,
.new_product textarea  {
  resize: none;
  width: 40%;
}